body {
  background-image: url("../images/Rick&Morty2.jpg");
}
.button {
  width: 250px;
  border-radius: 0;
  background-color: black;
  opacity: 0.6;
  margin: 10px;
  color: slateblue;
  font-size: 25px;
}
.button:hover{
  background-color: #BCFEFF;
}
#questions {
  font-size: 23px;
}
#time {
  font-size: 20px;
}
h1,
.button,
* {
  font-family: 'Cinzel', serif;
  text-align: center;
}

h1 {
color: dimgrey;
padding: 10px;
